[submodule "deps/tiny-process-library"]
	path = deps/tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library
[submodule "deps/StupidHTTPDownloaded"]
	path = deps/StupidHTTPDownloaded
	url = https://github.com/Amphaal/StupidHTTPDownloader
